#=== APP CONFIGURATION
APP_PORT=3030
API_URL=http://localhost:3030
JWT_LOAN_SECRET=supersecret
WEB_APP_URL=http://localhost:3000

#== DATABASE CONFIGURATION
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USERNAME=rivero
DATABASE_PASSWORD=pwd123
DATABASE_NAME=riverodb

#== AUTH CONFIGURATION
BETTER_AUTH_SECRET=sKWSZdYJTjG46jbz2WEirWXTwqDNrpcuLCsAuT6hEeo=
TRUSTED_ORIGINS=http://localhost:3000
SUPER_ADMIN_EMAIL=admin@gwr.com
